*.user
*.user.*
*.log
*.*swp
*.opensdf
*.sdf
tags
*.tlog
*.mexw64
*~
*.tlog
*.idb
*.asv
*.pyc
/build
xcuserdata
.DS_Store
DerivedData
*[tT]est*xml
DesDoxyDocs/html
DESReferenceMaterial.txt
.directory
**/content/*/
temp*/

*/**/.idea
*/**/GumBuild

.vscode/settings.json
.vscode/tasks.json
.vscode/browse.vc.db*

.idea/
cmake-build-*/
tools/cyclomatic_complixity/*report*.txt

nuget-prep/*